{% extends 'base.html' %}
{% block main %}
    <h2 style="text-align: center">教职任课</h2>
    <form action="/login/t_course/" method="post">
        {% csrf_token %}
        <label for="" style="margin-left: 350px;"> 教师编号:<input type="text" name="t_code"></label>
        <label for="" style="margin-left: 70px;">任职科目:</label>
        {% for c in cou %}
                <input type="checkbox" name="t_course" value="{{ c.cou_id }}"/>{{ c.cou_name }}
        {% endfor %}
        <label for="" style="margin-left: 70px;">  任职日期<input type="date" name="t_date"></label>
        <table border="1" style="margin-left: 290px;margin-top: 50px; width: 800px; text-align: center " cellpadding="0" cellspacing="0">
            <tr>
                <td>教师姓名</td>
                <td>性别</td>
                <td>年龄</td>
                <td>学历</td>
                <td>授课专业</td>
                <td>婚否</td>
            </tr>
            {% for te in t %}
            <tr>
                <td>{{ te.teacher.te_name }}</td>
                <td>{{ te.teacher.te_gender }}</td>
                <td>{{ te.teacher.te_age }}</td>
                <td>{{ te.teacher.te_education }}</td>
                <td>{{ te.teacher.te_major.ma_name}}</td>
                <td>{{ te.teacher.te_marriage}}</td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="提交" style="margin-left: 600px; margin-top: 50px;" name="submit">
        <input type="reset" value="重置" style="margin-left: 50px; margin-top: 50px;" name="submit">
        <a href="/login/show/" style="margin-left: 50px;">展示</a>


    </form>
{% endblock %}