{% extends 'base.html' %}
{% block main %}
    <h2 style="text-align: center">教职任课</h2>
    <form action="/login/show/" method="post">
        {% csrf_token %}
        <label for="" style="margin-left: 350px;"> 教师编号:<input type="text" name="t_code"></label>
        <label for="" style="margin-left: 70px;">任职科目:</label>
{#        <select name="t_course" id=""  style="margin-top: 30px;">#}
            {% for te in teachercourse %}
                <input type="checkbox" value="{{ te.course.cou_id }}" checked="checked">{{ te.course.cou_name }}
             {% endfor %}
{#        </select>#}
        {% for a in t_all %}
        <label for="" style="margin-left: 70px;">  任职日期 :<input type="text" name="t_date" placeholder="{{ a.rkDATE }}"></label>
        {% endfor %}
        <table border="1" style="margin-left: 290px;margin-top: 50px; width: 800px; text-align: center " cellpadding="0" cellspacing="0">
            <tr>
                <td>教师姓名</td>
                <td>性别</td>
                <td>年龄</td>
                <td>学历</td>
                <td>授课专业</td>
                <td>婚否</td>
            </tr>
            {% for te in teachercourse %}
            <tr>
                <td>{{ te.teacher.te_name }}</td>
                <td>{{ te.teacher.te_gender }}</td>
                <td>{{ te.teacher.te_age }}</td>
                <td>{{ te.teacher.te_education }}</td>
                <td>{{ te.teacher.te_major.ma_name}}</td>
                <td>{{ te.teacher.te_marriage}}</td>
            </tr>
            {% endfor %}
        </table>
        <br><br><a href="/login/t_course/" style="margin-left: 50%;">返回</a>
    </form>
{% endblock %}