{% extends 'base.html' %}


{% block main %}
    <form action="/mark/register/" method="post">
    {% csrf_token %}
        <table align="center" width="700px">
           <tr style="height: 50px">
               <td><label for="idi">学生编号：</label></td>
               <td><input type="text" name="id" id="idi"></td>
               <td><label for="namei">学生姓名：</label></td>
               <td><input type="text" name="name" id="namei"></td>
           </tr>
           <tr>
               <td><label for="aa">考试类别：</label></td>
               <td>
                   <select id="aa" name="type">
                      <option value ="end">期末考试</option>
                      <option value ="middle">期中考试</option>
                      <option value="month">月考</option>
                    </select>
               </td>
               <td><label for="datei">考试日期：</label></td>
               <td><input type="date" name="date" id="datei"></td>
           </tr>
        </table>
        <table border="1" align="center" cellspacing="0" cellpadding="0" width="700px" style="text-align: center;margin-top: 40px">
            <tr style="border: 1px">
                <td>考试科目</td>
                <td>考试成绩</td>
            </tr>
            <tr>
                <td>z</td>
                <td>z</td>
            </tr>
        </table>
        <table align="center" width="700px" style="margin-top: 40px">
            <tr>
                <td width="110px"><label for="id1">操作者：</label></td>
                <td width="400px">
                    <select id="id1" name="operator">
                      <option value ="">z</option>
                    </select>
                </td>
                <td><input type="submit" value="提交"></td>
                <td><input type="reset" value="重置"></td>
            </tr>
        </table>
    </form>
{% endblock %}