{% extends 'base.html' %}


{% block main %}
    <form action="/mark/select/" method="post">
    {% csrf_token %}
        <p align="center">
        <label for="condition1">请输入查询条件：</label>
            &emsp;
        <select id="dd" class="abc" name="type">
            <option value="1">学生编号</option>
            <option value="2">学生姓名</option>
        </select>
            &emsp;
        <input type="text" name="condition" class="aa" value="{{ code }}"><span id="sspan"></span>


            &emsp;
        <input type="submit" value="查询">
        <input type="reset" value="重置">
        </p>
        <table border="1" align="center" cellspacing="0" cellpadding="0" width="700px" style="text-align: center;margin-top: 40px" id="ad">
            <tr style="border: 1px">
                <td>考试类别</td>
                <td>科目名称</td>
                <td>学生编号</td>
                <td>学生姓名</td>
                <td>成绩</td>
            </tr>
            {% for c in codes %}
            <tr>
                <td>{{ c.sc_type }}</td>
                <td>{{ c.course.cou_name }}</td>
                <td>{{ code }}</td>
                <td>{{ c.student.st_name }}</td>
                <td>{{ c.sc_score }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}